@import'../utils/variables';
.logo{
     width: 10em;
     padding:1em;
     position: absolute;
     z-index:1;
     top:5em;
}

.selfie{
   width:20%;
   border-radius:300px;
   //safari is 👎🏼
   height:20%;  
   margin:0 auto;
}

.social-icon{
width:2em;
height:auto;
transition:1s;

&:hover{
   transition: .4s;
   width:3em;
}
}

.mail-icon{
   width:15%;
}

.CV{
   width:20%;
   box-shadow: $shadow;
}